<div class="jumbotron">
<%= geo_chart Ahoy::Visit.group(:country).count %>
<br>
<%= bar_chart Ahoy::Visit.group(:country).count %>
<br>
<%= bar_chart Ahoy::Visit.group(:region).count %>
<br>
<%= line_chart Ahoy::Visit.group_by_day(:started_at).count %>
<br>
Visits total: <%= Ahoy::Visit.all.count %>
<br>

<%= bar_chart Ahoy::Event.select(:visit_id).distinct.group(:properties).count %>

<br>
<%= bar_chart Ahoy::Event.select(:visit_id).distinct.where("name like ?", "hire:%").group(:name).count %>
</div>
