<div class="jumbotron jumbotron-bg">
    <h2>
      Let's be better to animals.
    </h2>
    <hr />
    <p>
      This is a database of arguments that aim to improve animal welfare.
    </p>
    <p>
      Here is a short example:
    </p>
        <%=  render partial: "arguments/questionshowcase", locals: {question: Question.first, arguments: Argument.where(id: Question.first.arguments.first.id), show: false } %>

        <hr />
          <div class="rounded greyish-bg p-4 mb-1">
            <h3 class="text-center">Use this database!</h3>
            <hr />
          <p>
            <ul style="line-height: 3;">
              <li>
                <b>Browse questions and arguments.</b> <br>
                 <%= link_to "Browse", arguments_path, class: "btn btn-sm btn-success" %>
              </li>
              <li>
                <b>Download the current database in different formats.</b>
                 <br> <%= link_to 'Download PDF', arguments_path(:format => :pdf), class: "btn btn-sm btn-success" %>
                 <br> <%= link_to 'Download CSV', arguments_path(:format => :csv), class: "btn btn-sm btn-success" %>
                 <br> <%= link_to 'Download JSON', arguments_path(:format => :json), class: "btn btn-sm btn-success" %>

              </li>
              <li>
                <b>Access this database via API.</b> <br>
                <%= link_to "How to use the API", arguments_path, class: "btn btn-sm btn-success" %>
              </li>
              <li>
                  <b>Embed or share questions and arguments via Social Media.</b><br>
                   <%= link_to "Share", arguments_path, class: "btn btn-sm btn-success" %>
              </li>
            </ul>
          </p>
        </div>

  <hr />
    <div class="rounded greyish-bg p-4 mb-1">
        <h3 class="text-center">Contribute!</h3>
        <hr />
    <p>
      You can contribute to this database in several ways.
      <ul style="line-height: 3;">
        <li>
          <b>You can submit new questions</b>. (Please make sure that a similar question does not already exist).
          <br>
          <%= link_to "Submit a new question", new_question_path, class: "btn btn-sm btn-success" %>
        </li>
        <li>
          <b>You can submit new arguments to questions.</b>
          <br>
            <%= link_to "Show questions with no or few arguments", arguments_path, class: "btn btn-sm btn-success" %>
          <br>
        </li>
        <li>
          <b>You can translate existing questions and answers into new languages.</b>
        </li>
        <li>
          <b>You can give feedback.</b> Bad design? Missing features? Missing language? Suggestion for improvements?
          <br>
          <%= link_to "Give feedback", new_question_path, class: "btn btn-sm btn-success" %>
        </li>
      </ul>
    </p>
</div>

</div>
