<div class="rounded p-3 mb-3 jumbotron-bg">

<p>
  <div class="argumenttitle text-center rounded p-1"><%= link_to argument.title, argument_path(argument) %>
  <br>
  <%= social_share_button_tag(argument.question, 'data-facebook-title' => argument.question, 'data-twitter-title' => argument.question.to_s + " " + argument.title.to_s, :url => argument.hyperlink, :desc => argument.question) %>
</div>

</p>
<hr />
      <%=  render partial: "arguments/sanitizedargument", locals: {argument: argument} %>

<hr />
      <%=  render partial: "arguments/author", locals: {argument: argument} unless argument.author.blank? %>

      <%=  render partial: "arguments/url", locals: {argument: argument} unless argument.url.blank? %>
</div>
