<div class="jumbotron jumbotron-bg">

<p class="text-center">
  <i>
    <% question_id = @argument.question_id || @question %>
    <%= Question.find(question_id).question %>
  </i>
</p>

  <hr />

<%= simple_form_for(@argument) do |f| %>

      <% if argument.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(argument.errors.count, "error") %> prohibited this argument from being saved:</h2>

            <ul>
              <% argument.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    <%= f.input :title %>
    <%= f.label :argument %>
    <%= f.text_area :argument, :class => "tinymce", :rows => 15, :cols => 120, id: :argument_argument %>
    <br>
    <%= f.input :author %>
    <%= f.input :language, collection: Language.all, value_method: :abbreviation, selected: I18n.locale.to_s %>
    <%= f.hidden_field :question_id, value: question_id %>
    <%= f.input :url, label: t('url-input-form') %>
    <%= f.button :submit, t('create'), class: "btn btn-success btn-lg" %>
<% end %>

<%= tinymce %>

</div>
