<%= form_with(model: argument, local: true) do |form| %>
  <% if argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(argument.errors.count, "error") %> prohibited this argument from being saved:</h2>

      <ul>
      <% argument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question, id: :argument_question %>
  </div>

  <div class="field">
    <%= form.label :quickanswer %>
    <%= form.text_field :quickanswer, id: :argument_quickanswer %>
  </div>

  <div class="field">
    <%= form.label :longanswer %>
    <%= form.text_area :longanswer, :class => "tinymce", :rows => 40, :cols => 120, id: :argument_longanswer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= tinymce %>