<div class="jumbotron jumbotron-bg">

<%= form_with(model: argument, local: true) do |form| %>
  <% if argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(argument.errors.count, "error") %> prohibited this argument from being saved:</h2>

      <ul>
      <% argument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <i>Fields marked by an "*" are necessary.</i>

  <div class="field">
    <h4>Question* (e.g. <b>"Why not eat meat?"</b>)</h4>
    <%= form.text_area :question, id: :argument_question, class: "form-control", rows: "2"  %>
  </div>
<br>

    <div class="field">
      <h4>Author (e.g. <b>"Peter Singer"</b>, <b>"Klaus Petrus"</b> or <b>"Anonymous"</b>).</h4>
      <%= form.text_field :author, id: :argument_author, class: "form-control"  %>
    </div>
    <br>

    <div class="field">
      <h4>Language</h4>
      <%= form.collection_select :language, Language.all, :abbreviation, :name, {}, {class: "form-control"} %>
    </div>
    <br>

  <div class="field">
    <h4>Short answer* (e.g. <b>"Because the meat industry is cruel to animals.</b>)</h4>
    <%= form.text_area :quickanswer, id: :argument_quickanswer , class: "form-control", rows: "4" %>
  </div>
<br>
  <div class="field">
    <h4>Long answer </h4>
    <%= form.text_area :longanswer, :class => "tinymce", :rows => 40, :cols => 120, id: :argument_longanswer %>
  </div>

    <br>
    <div class="field">
      <h4>URLs, sources, further literature</h4>
      <%= form.text_field :urls, multiple: true, class: "form-control" %>
      <%= form.text_field :urls, multiple: true, class: "form-control"  %>
      <%= form.text_field :urls, multiple: true, class: "form-control"  %>
    </div>



    <%= form.hidden_field :kind %>
    <%= form.hidden_field :argument_id %>

    <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= tinymce %>

</div>