
        <div class="jumbotron">
          <p>
            <i><%= link_to question.question, question_path(question) %></i>
          </p>

          <hr />

          <p>
          <% if !arguments.empty? %>

            <% arguments.each do |argument| %>

              <%=  render partial: "arguments/argument", locals: {argument: argument} %>
            <% end %>

         <% end %>
          </p>

          <p>
            <% if question.arguments.empty? %>
              No arguments yet available. Add one here: <%= link_to "Submit argument", new_argument_path(question: question.id), class: "btn btn-success" %>
              <% elsif show == true %>
              <%= link_to "Submit new argument", new_argument_path(question: question.id), class: "btn btn-success" %>
              <% elsif question.arguments.count != arguments.count %>
                <%= link_to "View all arguments", question_path(question), class: "btn btn-success" %>
          <% end %>
            </p>
        </div>
