
        <div class="rounded greyish-bg p-4 mb-1">
          <p class="text-center">
            <i><%= link_to question.question, question_path(question) %></i>
          </p>

          <hr />

          <p>
          <% if !arguments.empty? %>

            <% arguments.each do |argument| %>

              <%=  render partial: "arguments/argument", locals: {argument: argument} %>
            <% end %>

         <% end %>
          </p>

          <p>
            <% if question.arguments.empty? %>
              <%= t('no_arguments_yet') %> <%= link_to t('submit_a_new_argument'), new_argument_path(question: question.id), class: "btn btn-success" %>
              <% elsif show == true %>
              <%= link_to t('submit_a_new_argument'), new_argument_path(question: question.id), class: "btn btn-success" %>
              <% elsif question.arguments.count != arguments.count %>
                <%= link_to t('view_all_arguments'), question_path(question), class: "btn btn-success" %>
          <% end %>
            </p>
        </div>
