<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg text-justify">
  <i><%= @argument.question %></i>
  <hr />
  <p>
    <%= @argument.quickanswer %>
  </p>
  <p>
    <%= sanitize @argument.longanswer, attributes: %w(style href) %>
  </p>

  <%= render partial: "urls", locals: {argument: @argument} unless @argument.urls.empty? %>

</div>

<%= render partial: "diff", locals: {original: Argument.find(@argument.argument_id), suggestion: @argument} if @argument.argument_id && !current_user.nil? %>
