<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg">
  <h3>
    <%= @argument.question %>
  </h3>
  <p>
    <%= @argument.quickanswer %>
  </p>
  <p>
    <%= sanitize @argument.longanswer, attributes: %w(style href) %>
  </p>
</div>
<%= link_to 'Submit suggestion', submit_suggestion_path(@argument), method: :post %>

<%= link_to 'Edit', edit_argument_path(@argument) %> |
<%= link_to 'Back', arguments_path %>
