<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-bg">
  <h3>
    <%= @argument.question %>
  </h3>
  <p>
    <%= @argument.quickanswer %>
  </p>
  <p>
    <%= sanitize @argument.longanswer %>
  </p>
</div>



<%= link_to 'Edit', edit_argument_path(@argument) %> |
<%= link_to 'Back', arguments_path %>
